<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fiddlehead</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fiddlehead needs microphone access to record your conversations.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Fiddlehead needs screen recording permission to capture system audio from meetings.</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Fiddlehead reads your calendar to detect upcoming meetings and offer to take notes automatically.</string>
	<key>SUFeedURL</key>
	<string>https://fiddleheadai.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>jkt/pj2qcrd9mRQUiI4ZpZN5Vu6gL2HAWNPz/ue3OmM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
